[package]
name = "cargo-local-registry"
version = "0.2.8"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = ["cargo-subcommand"]
repository = "https://github.com/dhovart/cargo-local-registry"
homepage = "https://github.com/dhovart/cargo-local-registry"
description = """
A Cargo subcommand for managing local registries.
"""
edition = "2021"

[dependencies]
anyhow = "1.0.47"
cargo = "0.89.0"
cargo-platform = "0.3.0"
clap = { version = "4.5.41", features = ["derive"] }
env_logger = "0.11.8"
flate2 = "1.1.2"
openssl = { version = '0.10.73', optional = true }
serde = { version = "1.0.104", features = ['derive'] }
serde_json = "1.0.145"
tar = "0.4.26"
url = "2.1.1"

[dev-dependencies]
tempfile = "3.1.0"

[features]
vendored-openssl = ['openssl/vendored']
